@media screen and (max-width: 700px) {
    .grid-container {
       grid-template: 80px 1fr min-content 100px / 1fr;
    }

    #header {
        grid-row: 1 / 2;
        justify-content: center;
        height: 8vh;
    }

    #sidebar {
        grid-row: 2 / 3;

        width: 100vw;
        padding-bottom: 16px;

        overflow-y: initial;
        border-right: none;
    }

    #list {
        grid-row: 3 / 4;
        grid-column: 1 / 2;

        border-top: 1px solid rgba(197, 190, 190, 0.616);
        padding-bottom: 16px;

        overflow-y: initial;

        min-height: 300px;
        height: fit-content;

    }

    div#newTaskContainer {
        width: 350px;
    }

    div#newProjectContainer {
        width: 370px;
    }
    div#deleteFormContainer {
        width: 340px;
    }

    #footer {
        grid-row: 4 / 5;
    }
}
