@media screen and (max-width: 700px) {
    #header {
        justify-content: center;
        height: 8vh;
    }

    #main {
        flex-direction: column;
        padding-bottom: 16px;
        gap: 5%;
        height: fit-content;
    }

    #sidebar {
        width: 100vw;
        padding-bottom: 16px;
        overflow-y: initial;
    }

    #list {
        border-top: 1px solid rgba(197, 190, 190, 0.616);
        overflow-y: initial;
        height: fit-content;
        padding-bottom: 16px;

    }

    .project img, .userProject img {
        filter: none;
    }

    div#newTaskContainer {
        width: 350px;
    }

    div#newProjectContainer {
        width: 370px;
    }
    div#deleteFormContainer {
        width: 340px;
    }
    .statusBar img:hover {
        filter: none;
    }
}