div#formBackdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

div#newProjectContainer {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 350px;
    width: 400px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 10px 10px 2px #00000030;
}

.formHeader {
    height: 20%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-weight: bold;
}

.new {
 background-color: #25cd7b
}

.del {
 background-color: #d9263f
}

p.formTitle {
    align-self: center;
    font-size: 26px;
}

p.formClose {
    font-size: 20px;
    align-self: flex-start;
    cursor: pointer;
}

div#projectData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    padding: 20px;
}

.nameContainer {
    display: flex;
    flex-direction: column;
}

 /** Hello **/
.label {
    margin-left: 10px;
}

input.text {
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 10px;
    background-color: white;
    color: #252625;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    transition: .3s;
}

input.text:focus-visible {
    outline-color: #25cd7b;
}

#projectPictures img {
    height: 40px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 13px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]:checked + img {
    border: 1px solid #25cd7b;
    border-radius: 2px;
    padding: 10px;
}

p.label {
    margin: 0 0 5px 12px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 10px;
    border-top: 1px solid #E6E6E6;
    padding: 20px 0 0 0;
}

button {
    padding: 10px 17px;
    cursor: pointer;
    border-radius: 3px;
    color: gray;
    font-size: 15px;
    transition: .3s;
}

button.cancel {
    background-color: white;
    border: 1px solid #E6E6E6;
}

button.cancel:hover {
    border: 1px solid #25cd7b;
    color: #25cd7b;
}

button.confirm {
    background-color: #25cd7b;
    color: white;
    border: transparent;
}

button.confirm:hover {
    background-color: #21b36c;
}