* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #25cd7b;
}

#header h1 {
    color: whitesmoke;
    padding: 8px;
    letter-spacing: 5px;
    margin: 0 0 0 2%;

}

#main {
    display: flex;
    justify-content: stretch;
    height: 80vh;
}

#sidebar {
    color: #757575;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    border-right: 1px solid rgba(197, 190, 190, 0.616);
    overflow-y: scroll;
}

.project,
.userProject {
    width: 160px;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    gap: 4px;
    cursor: pointer;
    background-color: #efefef
}

.project:hover,
.userProject:hover {
    border: 1px solid #757575;
    border-radius: 2px;
}

.project img,
.userProject img {
    height: 20px;
    width: 20px;
    filter: brightness(0);
}


.project.active,
.userProject.active {
    background-color: #25cd7b;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-weight:bolder;
}

.fixed,
#userProj {
    display: flex;
    justify-content: space-between;
    width: 180px;
    align-self: center;
    margin: 20px 0 0 0;
    border-bottom: 1px solid gray;
    padding: 0 10px 8px;
    font-size: 18px;
}

#home,
#today,
#urgent {
    gap: 35px;
    justify-content: flex-start;
}

.project.active:hover {
  border: none;  
}


div#userProjList {
    gap: 3px;
    display: flex;
    flex-direction: column;
}

div#newProj, 
div#newTask {
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    border: #8d8989 1px solid;
    color: #757575;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

div#newProj:hover,
div#newTask:hover {
    border: 1px solid #25cd7b;
    color: #25cd7b;
}

.userProject.active:hover {
    border: none;
}

#list {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 10%;
    overflow-y: scroll;
}

#taskHeader {
    align-self: center;
    margin-top: 5%;
    font-size: xx-large;
}

#taskCounter {
    margin: 0 5% 2% 5%;
    border-bottom: 1px solid #757575;
    padding: 0 10px 5px;
    display: flex;
    justify-content: space-between;
}


.taskEntry {
    width: -webkit-fill-available;
    margin: 0 5% 2% 5%;
    border-radius: 5px;
    padding: 6px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskDate {
    color: #25cd7b;
    margin-right: 10px;
}

.descriptionHeader {
    margin: 5px 0 3px 0;
    font-weight: bold;
    color: #757575;
    font-size: 17px;
}

.taskDescription {
    color:#757575;
}

.taskEntry.low,
.low .infoDescr {
    background-color: #e8f5e9;
}

.taskEntry.medium,
.medium .infoDescr {
    background-color: #fff3e0;
}

.taskEntry.high,
.high .infoDescr {
    background-color: #ffebee
}

.taskEntry.completed,
.taskEntry.completed,
.taskEntry.completed .infoDescr {
    background-color: #efefef;
}

.statusBar img:hover {
    transform: scale(1.25);
    transition: filter smooth 0.3s;
    filter: brightness(0)
}

.completed p {
    text-decoration: line-through;
}

.taskPriority {
    display: flex;
    gap: 8px;
    padding: 5px;
}

.taskEntry img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.taskEntry .statusBar {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    border-top: 1px solid rgba(197, 190, 190, 0.616)
}

#footer a {
    text-decoration: none;
    color: #25cd7b;
    font-weight: bold;
}

#footer a:hover {
    color: #168a52;
}